@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: #003060;
    --color-bg-primary: #191919;
    --color-bg-secondary: #0d0d0d;

    --color-border: #222222;
    --default-font-family: Figtree;
    --text-12: 12px;
}

.font-inter {
    font-family: Inter;
}

.font-instrument {
    font-family: Instrument Sans;
}

/* @keyframes spotlight {

    0%,
    100% {
        opacity: 0.2;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.05);
    }
}

.animate-spotlight {
    animation: spotlight 6s ease-in-out infinite;
} */

.nav-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.bg-gradient {
    background: radial-gradient(50% 50% at 50% 50%, var(--color-tertiary) 0%, rgb(0, 0, 0) 100%);
}

.banner-bg-gradient {
    background: linear-gradient(149deg, rgba(26, 53, 232, .4) 0%, var(--token-b2fb23d9-6070-4f2d-b3d0-2fe68c4f2aab, rgba(13, 13, 13, .8)) 28.999999999999996%, var(--token-b2fb23d9-6070-4f2d-b3d0-2fe68c4f2aab, rgba(13, 13, 13, .8)) 74%, rgba(26, 53, 232, .4) 100%);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.706592px 0.706592px -0.625px, rgba(0, 0, 0, 0.14) 0px 1.80656px 1.80656px -1.25px, rgba(0, 0, 0, 0.14) 0px 3.62176px 3.62176px -1.875px, rgba(0, 0, 0, 0.13) 0px 6.8656px 6.8656px -2.5px, rgba(0, 0, 0, 0.1) 0px 13.6468px 13.6468px -3.125px, rgba(0, 0, 0, 0.05) 0px 30px 30px -3.75px;
    ;
}

.footer-bg-gradient {
    background: radial-gradient(50% 50% at 50% 3.4%, rgba(54, 124, 255, 0.3) 0%, rgba(171, 171, 171, 0) 100%);
    ;
}

.hero-bg-gradient {
    background: linear-gradient(to top, rgba(54, 124, 255, 1)0%, rgba(54, 124, 255, 1) 50%,
            rgba(0, 0, 0, 0) 100%);
}

.contact-bg-gradient {
    background: radial-gradient(50% 75% at 98.9% 100%, rgba(0, 48, 96, 1) 0%, rgba(13, 13, 13, 0.8) 100%);
}

.whoweare-bg-gradient {
    background: radial-gradient(50% 75% at 98.9% 100%, var(--token-a888adc2-3d05-4d6f-88b7-8dab97418795, rgb(0, 48, 96)) 0%, var(--token-b2fb23d9-6070-4f2d-b3d0-2fe68c4f2aab, rgba(13, 13, 13, 0.8)) 100%);
    ;
}

.values-bg-gradient {
    background: radial-gradient(50% 50% at 50% 50%, var(--token-a888adc2-3d05-4d6f-88b7-8dab97418795, #003060) 0%, rgba(0, 114, 156, 0) 100%);
}

.bg-gradient-benefit {
    background: radial-gradient(50% 50% at 50% 100%, rgba(0, 48, 96, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.bg-gradient-primary-2 {
    background: radial-gradient(50% 75% at 98.9% 100%, rgba(0, 48, 96, 0.3) 0%, rgba(13, 13, 13, 0.8)100%);
}

.bg-gradient-secondary {
    background: linear-gradient(141deg, rgb(81, 111, 245) 13%, rgba(201, 110, 240, 0) 35.0235827429153%, rgba(164, 92, 219, 0) 64.17244225559735%, rgb(0, 48, 96) 88%)
}

.bg-gradient-tertiary {
    background: linear-gradient(141deg, rgb(0, 48, 96), rgb(0, 48, 96) 13%, rgba(201, 110, 240, 0) 35.0235827429153%, rgba(164, 92, 219, 0) 64.17244225559735%, rgb(0, 48, 96), rgb(0, 48, 96) 88%);
}

.gradient-border {
    background: linear-gradient(269deg, rgba(255, 255, 255, 0) -0.45045045045045046%, rgba(255, 255, 255, 0.75) 51.05104188661318%, rgba(255, 255, 255, 0) 100%);
}

.text-gradient {
    background-image: linear-gradient(304deg, rgb(0, 66, 79) 10%, rgb(0, 193, 226) 30%, rgb(254, 190, 49) 50%, rgb(183, 48, 255) 70%, rgb(255, 0, 0) 97%);
}

.legal-text-gradient {
    background: (304deg, rgb(0, 66, 79) 10%, rgb(0, 193, 226) 30%, rgb(254, 190, 49) 50%, rgb(183, 48, 255) 70%, rgb(255, 0, 0) 97%);
}

body {
    background: var(--color-primary);
    color: var(--color-secondary)
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* shimmer */
@theme inline {
    --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
    --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;



    @keyframes shimmer-slide {
        to {
            transform: translate(calc(100cqw - 100%), 0);
        }
    }

    @keyframes spin-around {
        0% {
            transform: translateZ(0) rotate(0);
        }

        15%,
        35% {
            transform: translateZ(0) rotate(90deg);
        }

        65%,
        85% {
            transform: translateZ(0) rotate(270deg);
        }

        100% {
            transform: translateZ(0) rotate(360deg);
        }
    }
}